* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

::selection {
  color: rgb(255, 208, 215);
  background: rgb(203, 153, 162);
}